In [1]:
import pandas as pd

In [4]:
pip install openpyxl --upgrade

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas --upgrade

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
dados = pd.read_excel("/workspaces/pandas/case_tecnico/Timesheet.xlsx")

/usr/local/python/3.12.1/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [7]:
dados.head()

,EMPRESA,ATIVIDADE,USUÁRIO,EQUIPE,DT_INICIO,HORA_INICIO,DT_FIM,HORA_FIM,TEMPO
0,Empresa 298,DSRE,Analista 58,Equipe 5,45356,16:46:00,45356,17:03:00,00:17:00
1,Empresa 246,CONTROLE DA CND,Analista 58,Equipe 5,45366,16:58:00,45366,17:23:00,00:25:00
2,Empresa 353,DÚVIDAS DA EQUIPE,Analista 63,Equipe 5,45370,08:55:09,45370,10:09:29,01:14:20
3,Empresa 389,ESOCIAL,Analista 33,Equipe 7,45384,11:45:00,45384,12:08:00,00:23:00
4,Empresa 42,EMAILS,Analista 38,Equipe 2,45393,17:27:14,45393,17:55:17,00:28:02

In [8]:
# verificando o tipo dos dados
type(dados)

pandas.core.frame.DataFrame

In [9]:
# verificando o numero de linhas e colunas
dados.shape

(21571, 9)

In [10]:
# informações gerais do dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21571 entries, 0 to 21570
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EMPRESA      21571 non-null  object
 1   ATIVIDADE    21031 non-null  object
 2   USUÁRIO      21571 non-null  object
 3   EQUIPE       21571 non-null  object
 4   DT_INICIO    21571 non-null  int64
 5   HORA_INICIO  21571 non-null  object
 6   DT_FIM       21571 non-null  int64
 7   HORA_FIM     21571 non-null  object
 8   TEMPO        21571 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.5+ MB

In [11]:
# verificando a coluna 'data inicio' e 'data fim'
dados[['DT_INICIO', 'DT_FIM']]

       DT_INICIO  DT_FIM
0          45356   45356
1          45366   45366
2          45370   45370
3          45384   45384
4          45393   45393
...          ...     ...
21566      45364   45364
21567      45363   45363
21568      45384   45384
21569      45393   45393
21570      45400   45400

[21571 rows x 2 columns]

In [21]:
# verificando se o dataframe contém dados nulos
dados.isnull().sum()

EMPRESA          0
ATIVIDADE      540
USUÁRIO          0
EQUIPE           0
DT_INICIO        0
HORA_INICIO      0
DT_FIM           0
HORA_FIM         0
TEMPO            0
dtype: int64

In [23]:
# atribuindo um valor "OUTRO" onde contém dado nulo
dados.fillna('OUTRO')

,EMPRESA,ATIVIDADE,USUÁRIO,EQUIPE,DT_INICIO,HORA_INICIO,DT_FIM,HORA_FIM,TEMPO
0,Empresa 298,DSRE,Analista 58,Equipe 5,45356,16:46:00,45356,17:03:00,00:17:00
1,Empresa 246,CONTROLE DA CND,Analista 58,Equipe 5,45366,16:58:00,45366,17:23:00,00:25:00
2,Empresa 353,DÚVIDAS DA EQUIPE,Analista 63,Equipe 5,45370,08:55:09,45370,10:09:29,01:14:20
3,Empresa 389,ESOCIAL,Analista 33,Equipe 7,45384,11:45:00,45384,12:08:00,00:23:00
4,Empresa 42,EMAILS,Analista 38,Equipe 2,45393,17:27:14,45393,17:55:17,00:28:02
...,...,...,...,...,...,...,...,...,...
21566,Empresa 424,FOPAG ADIANTAMENTO,Analista 28,Equipe 7,45364,13:00:00,45364,13:30:00,00:30:00
21567,Empresa 18,BAIXA DE IMPOSTOS,Analista 68,Equipe 4,45363,10:00:00,45363,11:00:00,01:00:00
21568,Empresa 253,FECHAMENTO FISCAL,Analista 39,Equipe 1,45384,10:39:45,45384,13:57:11,03:17:26
21569,Empresa 260,FECHAMENTO FISCAL,Analista 11,Equipe 1,45393,15:11:30,45393,21:20:38,06:09:07
21570,Empresa 14,EMISSÃO DE RELATÓRIOS GERENCIAIS,Analista 7,Equipe 4,45400,13:15:00,45400,13:58:00,00:43:00